*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #62a4ab;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main>img {
  width: 42%;
  height: auto;
}

.eye {
  position: absolute;
  height: auto;
}

.eye:first-of-type {
  top: 11%;
  left: 49.5%;
  width: 3.2%;
}

.eye:last-of-type {
  top: 11%;
  left: 55.5%;
  width: 2.8%;
}